<div class="app d-flex flex-column">
  <header class="d-flex align-items-center justify-content-between">
    <!-- <button class="bare" (click)="attribution()">&#xFFFD;</button> -->
    <!-- <button class="bare" (click)="reloadGame()">&#x267B;</button> -->
    <button class="bare" (click)="reloadGame()">&#8634;</button>
    <h1>Kurdle</h1>
    <button class="bare" (click)="switchTheme(currentTheme, true)">
      <span *ngIf="currentTheme === 'light'">◻️◼️</span>
      <span *ngIf="currentTheme === 'dark'">◼️◻️</span>
    </button>
  </header>
  <div class="flash d-flex align-items-center" [class]="notice.type">
    <span [innerHTML]="notice.message"></span>
    <span *ngIf="notice.again">&nbsp;<button (click)="reloadGame()">Play again?</button></span>
    <span *ngIf="notice.again && ngNavigatorShareService.canShare()">
      &nbsp;
      <svg
        (click)="shareGame()"
        xmlns="http://www.w3.org/2000/svg"
        x="0px"
        y="0px"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        [style]="svgFill">
        <path d="M 20 0 C 17.789063 0 16 1.789063 16 4 C 16 4.277344 16.039063 4.550781 16.09375 4.8125 L 7 9.375 C 6.265625 8.535156 5.203125 8 4 8 C 1.789063 8 0 9.789063 0 12 C 0 14.210938 1.789063 16 4 16 C 5.203125 16 6.265625 15.464844 7 14.625 L 16.09375 19.1875 C 16.039063 19.449219 16 19.722656 16 20 C 16 22.210938 17.789063 24 20 24 C 22.210938 24 24 22.210938 24 20 C 24 17.789063 22.210938 16 20 16 C 18.796875 16 17.734375 16.535156 17 17.375 L 7.90625 12.8125 C 7.960938 12.550781 8 12.277344 8 12 C 8 11.722656 7.960938 11.449219 7.90625 11.1875 L 17 6.625 C 17.734375 7.464844 18.796875 8 20 8 C 22.210938 8 24 6.210938 24 4 C 24 1.789063 22.210938 0 20 0 Z"></path>
      </svg>
      <button *ngIf="notice.again && ngNavigatorShareService.canShare()" (click)="shareGame()">Share</button>
    </span>
  </div>
  <main class="d-flex flex-column align-items-center justify-content-center flex-grow-1">
    <div class="d-flex" *ngFor="let r of board; let rIdx=index">
      <div class="d-flex" *ngFor="let c of r; let cIdx=index">
        <app-letter-block [char]="c" [letterClass]="classBoard[rIdx][cIdx]"></app-letter-block>
      </div>
    </div>
  </main>
  <section *ngIf="debugMode" class="d-flex align-items-center">
    <code>
      <pre>
        round::{{round}}--play::{{play}}--{{currentWord}}::{{decodedWord}}
      </pre>
    </code>
  </section>
  <app-keyboard [alphabetKey]="alphabetKey"
    (onClick)="refreshLetters($event)"
    [heavyBoard]="combinedBoard"
    [round]="round"
    >
  </app-keyboard>
  <footer></footer>
</div>
