@import "./../../../stylings/themes.scss";

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.bare {
  background: none;
  outline: none;
  border: none;
  color: #000;
  font-size: 1.5rem;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  h1 {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
}
.flash {
  min-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  &.good {
    color: $green;
  }
  &.bad {
    color: $red;
  }
  &.warn {
    color: $yellow;
  }
  &.default {
    color: $slate;
  }
}
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
  .row {
    display: flex;
    flex-direction: row;
  }
  .column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
footer {
  padding-bottom: 2rem;
}
