// [ req for media query helpers
@import "./functions";
@import "./my-bs-overrides";
@import "./variables";
@import "./mixins";
// ]
@import "./themes";

$dot-half: 8px;

#debug {
  position: absolute;
  top: 3rem;
  right: 2rem;
  color: theme-var($--theme-neutral);
}

.app {
  min-height: 100%;
  height: 100%;
  // min-width: 414px;
}
.bare {
  background: none;
  outline: none;
  border: none;
  color: theme-var($--theme-on-surface);
  font-size: 1.2rem;
  flex-basis: 3rem;
  text-align: center;
}
.dot {
  width: $dot-half;
  height: $dot-half * 2;
  display: inline-block;
  // transform: rotate(45deg);
  // transform-origin: center;
  // margin: 0 0.1rem;
  &--lightness.dot {
    background-color: #fff;
    border-width: 1px;
    border-radius: $dot-half 0 0 $dot-half;
    border-style: solid;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-right-width: 0;
    // transform-origin: 150% 15%;
  }
  &--darkness.dot {
    background-color: #000;
    border-width: 1px;
    border-radius: 0 $dot-half $dot-half 0;
    border-style: solid;
    border-color: hsla(0deg 0% 100% / 50%);
    border-left-width: 0;
    // transform-origin: 50% 15%;
  }
}
header {
  margin: 0.1rem;
  h1 {
    text-transform: uppercase;
    font-size: 2rem;
    @media (orientation: landscape) {
      @include media-breakpoint-down(md) {
        font-size: 1rem;
      }
    }
    letter-spacing: 2vw;
    padding: 0;
    margin: 0;
  }
}
.flash {
  margin: 0.2rem -1rem;
  min-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: theme-var($--theme-surface);
  @media (orientation: portrait) {
    @include media-breakpoint-down(sm) {
    }
  }
  @media (orientation: landscape) {
    @include media-breakpoint-down(md) {
      font-size: 0.8rem;
      min-height: 1rem;
    }
  }
  &.good {
    background-color: theme-var($--theme-good);
  }
  &.bad {
    background-color: theme-var($--theme-bad);
  }
  &.warn {
    background-color: theme-var($--theme-warn);
  }
  &.default {
    background-color: transparent;
    color: theme-var($--theme-on-surface);
  }
  button {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    color: theme-var($--theme-surface);
    font-size: 1rem;
  }
}
footer {
  display: none;
  @include media-breakpoint-up(sm) {
    min-height: 0.2rem;
  }
}
