@import "./../../../stylings/themes.scss";

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.bare {
  background: none;
  outline: none;
  border: none;
  color: theme-var($--theme-on-surface);
  font-size: 4vw;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  h1 {
    text-transform: uppercase;
    font-size: 6vw;
    letter-spacing: 2vw;
    padding: 0;
    margin: 0;
  }
}
.flash {
  min-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: theme-var($--theme-surface);
  &.good {
    background-color: theme-var($--theme-good);
  }
  &.bad {
    background-color: theme-var($--theme-bad);
  }
  &.warn {
    background-color: theme-var($--theme-warn);
  }
  &.default {
    background-color: transparent;
    color: theme-var($--theme-on-surface);
  }
}
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  .row {
    display: flex;
    flex-direction: row;
  }
  .column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
footer {
  min-height: 1rem;
}
