.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    &:nth-of-type(1) {
      width: 98%;
    }
    &:nth-of-type(2) {
      width: 92%;
    }
    &:nth-of-type(3) {
      width: 90%;
    }
  }
  &__key {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.05rem;
    text-transform: uppercase;
    color: #333;
    margin: 0.1rem;
    &--inner {
      padding: 0.1rem;
    }
    &--char {
      // border: 2px solid #ccc;
      // background-color: #efefef;
      // color: #000;
      padding: 0.35rem;
      font-size: 6vw;
      min-width: 1rem;
      text-align: center;
    }
    &--undefined {
      background-color: #d5d5d5;
    }
    &--default {
      background-color: #efefef;
    }
    &--used {
      background-color: #333;
      color: #efefef;
    }
    &--match {
      background-color: greenyellow;
    }
    &--mismatch {
      background-color: yellow;
    }
  }
}
