@import "./../../../stylings/themes.scss";

.keyboard {
  max-width: 100vw;
  padding: 0.5rem auto 0.1rem auto;
  margin: 0.1rem;
  &__row {
    &:nth-of-type(1) {
      width: 100%;
    }
    &:nth-of-type(2) {
      width: 100%;
    }
    &:nth-of-type(3) {
      width: 100%;
      // > div {
      // min-height: 1rem;
      // }
      > div:first-of-type {
        color: theme-var($--theme-on-primary);
        // color: theme-var($--theme-primary);
        background-color: theme-var($--theme-primary);
        border: 1px solid transparent;
        flex-grow: 1;
      }
      > div:last-of-type {
        color: theme-var($--theme-on-primary);
        // color: theme-var($--theme-bad);
        background-color: theme-var($--theme-bad);
        border: 1px solid transparent;
        flex-grow: 1;
      }
    }
  }
  &__key {
    margin: 0.05rem;
    text-transform: uppercase;
    color: #333;
    margin: 0.1rem;
    cursor: pointer;
    // prevent annoying copy prompt
    -webkit-touch-callout: none; /* Safari */
    -webkit-user-select: none; /* Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

    &.char {
      border: 1px solid theme-var($--theme-on-default);
      color: theme-var($--theme-on-default);
      padding: 0.5rem;
      font-size: 5vw;
      min-width: 1rem;
      min-height: 3rem;
      text-align: center;
      // @include media-breakpoint-up(lg) {
      //   font-size: 8vw;
      // }
      &--null {
        color: theme-var($--theme-on-default);
        background: theme-var($--theme-default);
        // padding: 0.6rem;
        // font-size: 5vw;
        color: theme-var($--theme-on-primary);
      }
      &--default {
        color: theme-var($--theme-on-default);
        background: theme-var($--theme-default);
      }
      &--used {
        color: theme-var($--theme-on-used) !important;
        background: theme-var($--theme-used);
        border: 1px solid transparent !important;
      }
      &--match {
        color: theme-var($--theme-on-match);
        background: theme-var($--theme-match);
        border: 1px solid transparent !important;
      }
      &--mismatch {
        color: theme-var($--theme-on-mismatch);
        background: theme-var($--theme-mismatch);
        border: 1px solid transparent !important;
      }
    }
  }
}
