@import "./../../../stylings/themes.scss";

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    &:nth-of-type(1) {
      width: 100%;
    }
    &:nth-of-type(2) {
      width: 100%;
    }
    &:nth-of-type(3) {
      width: 100%;
      > div:first-of-type * {
        color: theme-var($--theme-on-secondary);
        background-color: theme-var($--theme-secondary);
      }
      > div:last-of-type * {
        color: theme-var($--theme-on-secondary);
        background-color: theme-var($--theme-secondary);
      }
    }
  }
  &__key {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.05rem;
    text-transform: uppercase;
    color: #333;
    margin: 0.1rem;
    cursor: pointer;
    // prevent annoying copy prompt
    -webkit-touch-callout: none; /* Safari */
    -webkit-user-select: none; /* Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    &__inner {
      padding: 0.1rem;
    }
    &__char {
      border: 1px solid theme-var($--theme-on-default);
      // background-color: #efefef;
      color: theme-var($--theme-on-default);
      // padding: 0.8rem 0.5rem;
      padding: 0.8rem 2vw;
      font-size: 5vw;
      min-width: 1rem;
      text-align: center;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    }
    &--undefined {
      // background-color: darken(#efefef, 5%);
      color: theme-var($--theme-on-default);
      background: theme-var($--theme-default);
    }
    &--default {
      color: theme-var($--theme-on-default);
      background: theme-var($--theme-default);
    }
    &--used {
      color: theme-var($--theme-on-used) !important;
      background: theme-var($--theme-used);
      border: 1px solid transparent !important;
    }
    &--match {
      color: theme-var($--theme-on-match);
      background: theme-var($--theme-match);
    }
    &--mismatch {
      color: theme-var($--theme-on-mismatch);
      background: theme-var($--theme-mismatch);
    }
  }
}
