@import "./../../../stylings/themes.scss";

.char {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 15vw;
  min-height: 8vh;
  margin: 0.4rem 0.2rem;
  display: flex;
  font-size: 3rem;
  font-weight: bold;
  border: 2px solid rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  &--inner {
    // background-color: #fff;
    padding: 0.1rem;
  }
  &--default {
    border: 2px solid theme-var($--theme-on-default);
    color: theme-var($--theme-on-default);
    background: theme-var($--theme-default);
  }
  &--used {
    color: theme-var($--theme-on-used);
    background: theme-var($--theme-used);
  }
  &--match {
    color: theme-var($--theme-on-match);
    background: theme-var($--theme-match);
  }
  &--mismatch {
    color: theme-var($--theme-on-mismatch);
    background: theme-var($--theme-mismatch);
  }
}
